body {
	background-color: #024B94;
}


#wrapper{
	width: 850px;
	margin: 110px auto;
	border-radius: 25px;
	background-color: white;
	padding: 24px;
}

img.ca-logo{
	margin-left:190px;
}

table.lottoTable{
	margin: 0 auto 50px auto;
	width: 600px;
}

.lottoTable th{
	font-size:1.7em;
}

.lottoTable td{
	text-align: center;
	width: 60px;
	font-size: 3em;
}

#power{
	border-radius:60px;
	color: white;
	background-color: red;
}
